html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Roboto', -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

:root {
  --primary: #444;
  --primary-dark: #1d1d1d;
  --primary-light: #6f6f6f;
  --secondary: #fff;
  --title: #c89a69;
  --title-dark: #956c3d;
  --title-light: #fdcb98;
  --strong: #212529;
}